.idea
# ioBroker dev-server
.dev-server/
.github/copilot-instructions.md

node_modules

src-widgets/.__mf__temp
src-widgets/build
src-widgets/node_modules

# /src-widgets/package-lock.json
# /package-lock.json

tmp
# widgets
*.tgz

#ignore .commitinfo created by ioBroker release script
.commitinfo

AGENTS.md

.env

# Claude Code
.mcp.json
.claude
CLAUDE.md

#kilocode
.kilocode
plans
scripts
.kilocodemodes
